/* External css stylesheet */

/* styles in mobile-first strategy */

/* style for the img element */
img {
  max-width: 100%;
}

/* background color of the page */
body {
  background-color: #1d1d1c;
}

/* center the div container */
#container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* styles for header */
header {
  text-align: center;
}

/* nav element */
nav {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  margin-top: -1.5em;
}

/* styles for unordered lists in nav */
nav ul {
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* styles for list items in nav */
nav li {
  background-color: #9d9d93;
  border-radius: 2em;
  list-style-type: none;
  margin: 0.3em;
  padding: 0.4em;
}

/* styles to anchor tags located in list items in the nav */
nav li a {
  color: #ffffff;
  text-decoration: none;
}

/* styles to display mobile class */
.mobile {
  display: inline;
}

/* styles to hide the desktop class */
.desktop {
  display: none;
}

/* main element styles */
main {
  /* to be supported by IE 9 through 11 */
  display: block;
  font-family: Verdana, Arial, sans-serif;
  font-size: 1em;
  margin-top: 0.5em;
  padding: 1em;
  border-radius: 2em 0 2em 0;
  background-color: #ffffff;
  opacity: 0.85;
}

/* footer element styles */
footer {
  font-size: 0.7em;
  text-align: center;
  margin-top: 2em;
  color: #ffffff;
}

/* styles to hide tablet class in mobile view port */
.tablet {
  display: none;
}
/* styles for the class equip */
.equip {
  display: none;
}

/* the styles for anchor elements inside the main element */
main a {
  background-color: #bbbbb7;
  padding: 0.5em;
  border-radius: 1em;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

/* styles for anchor tag inside the footer element */
footer a {
  color: #ffffff;
  text-decoration: none;
}

/* styles for aside element */
aside {
  font-style: italic;
}

/* styles for the form element tags */
input,
select,
textarea {
  display: block;
  margin-bottom: 1em;
}

/* styles for the labels */
label {
  display: block;
}

/* styles for the ul element in the form */
form ul {
  list-style-type: none;
}

/* styles for the chkbx class */
.chkbx {
  display: inline-block;
}

/* media query for tablet viewport size */
/* changing min-width to 670px  */
@media only screen and (min-width: 670px) {
  /* styles for list items in nav */
  nav li {
    display: inline;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 0;
    padding-right: 0;
    width: 18%;
    white-space: nowrap;
    border-radius: 0;
    background-color: transparent;
  }

  /* styles to hide the mobile class */
  .mobile {
    display: none;
  }

  /* styles to show the desktop class */
  .desktop {
    display: inline;
  }

  /* styles to show tablet class */
  .tablet {
    display: block;
    margin-top: -3em;
    margin-bottom: -1em;
  }

  /* styles for the main element */
  main {
    clear: left;
    margin-top: 0;
    border-radius: 0;
    overflow: auto;
  }

  /* styles for the equip class */
  .equip {
    display: inline;
    float: left;
    margin-right: 1.5em;
  }

  /* styles for the items class */
  .items {
    display: block;
    list-style-position: inside;
  }

  /* styles for the description terms */
  dt {
    font-weight: bold;
    margin-top: 0.7em;
  }

  /* styles for the heading h1 */
  h1 {
    text-align: center;
  }

  /* styles for the images inside the figure element */
  figure img {
    background-color: #1d1d1c;
    display: inline;
    height: 8em;
    width: 28%;
    padding: 1%;
    margin: 1%;
  }

  /* styles for the anchor tags inside the figure element */
  figure a {
    background-color: transparent;
    text-decoration: none;
    padding: 0;
  }

  /* styles for the section element */
  section {
    padding-bottom: 3em;
  }

  /* styles for h1 inside the section */
  section h1 {
    text-align: left;
  }

  /* styles for the anchor tag inside the section */
  section a {
    background-color: transparent;
    color: #1d1d1c;
    font-weight: normal;
    padding: 0;
    text-decoration: underline;
  }

  /* styles for the contact class */
  .contact {
    background-color: transparent;
    color: #1d1d1c;
    padding: 0;
    text-decoration: underline;
  }

  /* styles for article element */
  article {
    float: left;
    background-color: #c1d9ca;
    margin: 0.5%;
    padding: 0.5%;
    text-align: center;
    width: 31%;
  }

  /* styles for the images inside the main element */
  main article img {
    border: solid 0.1em #1d1d1c;
    margin-left: auto;
    margin-right: auto;
  }

  /* styles for the paragraphs inside the main article */
  main article p {
    color: #000000;
    margin-top: 2%;
    padding: 1%;
    text-align: left;
  }

  /* styles for the ul inside the main article element */
  main article ul {
    text-align: left;
  }

  /* styles for the aside element */
  aside {
    background-color: #ffffff;
    border-radius: 0 5em 5em 5em;
    box-shadow: 1em 1em 1em #4c4f4d;
    padding: 1.5em;
    margin: 1em;
  }

  /* styles for the flex display */
  .flex-display {
    display: flex;
  }

  /* styles for the table element */
  table {
    border: 0.1em solid #000000;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-collapse: collapse;
  }

  /* styles for th and td */
  td,
  th {
    border: 0.1em solid #000000;
    padding: 1em;
  }

  /* styles for the th */
  th {
    background-color: #1d1d1c;
    color: #ffffff;
  }

  /* style for the caption element */
  caption {
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 0.5em;
  }

  /* styles for the label element */
  label {
    float: left;
    padding-right: 0.5em;
    text-align: right;
    width: 10em;
  }

  /* styles for the btn class */
  .btn {
    margin-left: 12em;
  }

  /* styles for the video class */
  .video {
    padding: 1em;
    text-align: center;
  }

  /* styles for the video element */
  video {
    border: 0.5em ridge #ffffff;
    height: auto;
    max-width: 100%;
  }
}

/* Media query for the Desktop viewport (minimum of 769 px) */
/* changing min-width to 850px  */
@media only screen and (min-width: 850px) {
  /* styles specifies a width for the container div */
  #container {
    background-color: #1d1d1c;
  }

  /* styles for the unordered list inside the nav element */
  nav ul {
    margin: 0;
    padding-left: 0.5%;
    padding-right: 0.5%;
  }

  /* styles for the list items inside the nav element */
  nav li {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    width: 20%;
  }

  /* styles for the navigation links inside the nav element */
  nav li a {
    display: inline-block;
    padding: 0.7em;
    text-shadow: 0.2em 0.1em #3d3d35;
  }

  /* styles for the main element */
  main {
    background-color: #1d1d1c;
  }

  /* styles for the paragraphs inside the main */
  main p {
    color: #ffffff;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  /* styles for the items class */
  .items {
    margin-bottom: 6em;
  }

  /* styles rulels for pseudo-classes */
  nav li a:link {
    color: #ffffff;
  }

  nav li a:visited {
    color: #ccccff;
  }

  nav li a:hover {
    color: #9d9d93;
    font-style: italic;
  }

  nav li a:active {
    color: #6600cc;
  }

  /* styles for the gradients */
  body {
    background-color: #ffffff;
  }

  /* styles for the header element */
  header {
    text-align: left;
  }

  /* styles for the nav element */
  nav {
    float: right;
    margin-top: -7em;
    margin-right: 3em;
    margin-bottom: 0;
    width: 65%;
  }

  /* styles for the images inside figure element */
  figure img {
    height: 15em;
    opacity: 0.7;
  }

  /* styles to remove transparency on hover */
  figure img:hover {
    opacity: 1;
  }

  /* styles for the h1 */
  h1 {
    color: #ffffff;
  }

  /* styles for the footer element */
  footer {
    background-color: #2a2a2a;
    margin-top: -0.2em;
    padding: 2em;
  }

  /* styles for the section */
  section {
    color: #ffffff;
    margin-left: 1em;
    padding-bottom: 5em;
  }

  /* styles for the anchor tag inside the section */
  section a {
    color: #ffffff;
  }

  /* styles for the paragraphs inside the section */
  section p {
    margin-left: 0;
  }

  /* styles for the h2 inside the main element */
  main h2 {
    color: #ffffff;
  }

  /* styles for the contact class */
  .contact {
    color: #ffffff;
  }

  /* styles for the h2 element inside the article */
  main article h2 {
    color: #000000;
  }

  /* style for the table element */
  table {
    background-color: #ffffff;
    width: 85%;
  }

  /* style for the caption */
  caption {
    color: #ffffff;
  }

  /* styles for the form element */
  form {
    background-color: #ffffff;
    padding: 1em;
  }

  /* styles for the paragtaphs inside the form element */
  form p {
    color: #000000;
  }
}
